

.buttontype1 {
    position: relative;
    width: 60px;
    top: 0px;
    left: 20px;
    height: 30px;
    padding: 5px 5px;
    border: 1px solid #5e7bc4; 
    border-radius: 5px;
    background-color: #5e7bc4; 
    color: #f3f6f8; 
    font-size: 12px;
    cursor: pointer;
    
}

.buttontype1:hover{
    background-color: #587ef0;
    color: #f2f8fb;
}

.buttontype1:disabled{

    background-color: #dddfe4;
    border: 1px solid #b8bcc0; 

}


.progress-bar2 {
    position: relative;
    top:40px;
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    
}
.progress-bar-inner2 {
    height: 100%;
    width: 0;
    background-color: #a55ab4;
    text-align: center;
    color: rgb(6, 13, 32);
    line-height: 20px;

}

.input-group2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-group2 input[type="text"] {
    flex: 1;
    padding: 5px;
}
.input-group2 input[type="file"] {
    display: none;
}

.update-device-info-group{
    display: flex;
    flex-direction: row;
}


